---
import '../styles/global.css';
import Card from '../components/Card.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <!-- displays site properly based on user's device -->

    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='./images/favicon-32x32.png'
    />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />

    <title>Frontend Mentor | Four card feature section</title>
  </head>
  <body
    class='min-h-screen bg-very-light-gray pb-4 font-poppins text-[.9375rem] font-normal text-very-dark-blue'
  >
    <header class='mt-[5.3125rem] px-8 text-center'>
      <h1
        class='text-heading leading-normal font-extralight tracking-[.0106rem] md:tracking-[.0156rem]'
      >
        Reliable, efficient delivery <br />
        <span class='font-semibold'>Powered by Technology</span>
      </h1>
      <p
        class='mx-auto mt-4 max-w-[33.75rem] leading-[1.67] tracking-[.0063rem] opacity-50'
      >
        Our Artificial Intelligence powered tools use millions of project data
        points to ensure that your project is successful
      </p>
    </header>
    <main class='px-8'>
      <div
        class='mt-[4.75rem] flex flex-col items-center gap-6 md:grid md:grid-cols-[repeat(2,_minmax(0,_21.875rem))] md:place-content-center md:place-items-center lg:grid-flow-col lg:grid-cols-[repeat(3,_minmax(0,_21.875rem))] lg:grid-rows-2 lg:place-content-center lg:gap-[1.875rem]'
      >
        <Card
          class='lg:row-start-1 lg:row-end-3 lg:self-center'
          title='Supervisor'
          description='Monitors activity to identify project roadblocks'
          imgUrl='/images/icon-supervisor.svg'
          imgAlt='Supervisor icon'
          color='cyan'
        />
        <Card
          title='Team Builder'
          description='Scans our talent network to create the optimal team for your project'
          imgUrl='/images/icon-team-builder.svg'
          imgAlt='Team Builder icon'
          color='red'
        />
        <Card
          title='Karma'
          description='Regularly evaluates our talent to ensure quality'
          imgUrl='/images/icon-karma.svg'
          imgAlt='Karma icon'
          color='orange'
        />
        <Card
          class='lg:row-start-1 lg:row-end-3 lg:self-center'
          title='Calculator'
          description='Uses data from past projects to provide better delivery estimates'
          imgUrl='/images/icon-calculator.svg'
          imgAlt='Calculator icon'
          color='blue'
        />
      </div>
    </main>

    <footer>
      <p class='mt-6 text-center text-xs'>
        Challenge by <a
          class='text-blue underline'
          href='https://www.frontendmentor.io?ref=challenge'
          target='_blank'
        >
          Frontend Mentor
        </a>. Coded by <a
          class='text-blue underline'
          href='https://www.frontendmentor.io/profile/AnonymousCoder323'
          >Anonymous Coder</a
        >.
      </p>
    </footer>
  </body>
</html>
